@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --gray: #d0a1a1;
  --primary-font: "Roboto Mono", monospace;
  --title-font: "Noto Serif", serif;
  --font-xl: 30px;
  --font-l: 20px;
  --font-sm: 10px;
  --bg-color: #dde99d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 20px;
}

header nav {
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-family: var(--title-font);
  font-size: var(--font-xl);
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: var(--black);
}

.sub-menu {
  display: none;
  z-index: 1;
}

.sub-menu li {
  margin-bottom: 10px;
}

.main-menu:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: var(--bg-color);
  padding: 0 20px;
}

.hero {
  position: relative;
  color: wheat;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.info-container {
  position: absolute;
  top: 30%;
  width: 50%;
  text-align: center;
}

.info-container h1 {
    font-family: var(--title-font);
    margin-bottom: 30px;
}

.info-container p {
    font-size: var(--font-l);
    margin-bottom: 40px;
}

.info-container a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 50px;
}

.info-container a:hover {
    background-color: red;
}

.body-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 200px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.register-form {
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.form-group>label {
    width: 200px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group>*:not(label) {
    width: calc(100% - 200px);
    height: 35px;
}

.register-form h1 {
    margin-bottom: 20px;
}

.submit-btn {
    padding: 10px 20px;
}